
.mfp-bg {
    background: #0b0b0b none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.mfp-wrap {
    height: 100%;
    left: 0;
    outline: medium none !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.mfp-container {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 8px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.mfp-container::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mfp-align-top .mfp-container::before {
    display: none;
}
.mfp-content {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: left;
    vertical-align: middle;
    z-index: 1045;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    cursor: auto;
    width: 100%;
}
.mfp-ajax-cur {
    cursor: progress;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: zoom-out;
}
.mfp-zoom {
    cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -moz-user-select: none;
}
.mfp-loading.mfp-figure {
    display: none;
}
.mfp-hide {
    display: none !important;
}
.mfp-preloader {
    color: #cccccc;
    left: 8px;
    margin-top: -0.8em;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 50%;
    width: auto;
    z-index: 1044;
}
.mfp-preloader a {
    color: #cccccc;
}
.mfp-preloader a:hover {
    color: #ffffff;
}
.mfp-s-ready .mfp-preloader {
    display: none;
}
.mfp-s-error .mfp-content {
    display: none;
}
button.mfp-close, button.mfp-arrow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: medium none;
    overflow: visible;
    padding: 0;
    z-index: 1046;
}
button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.mfp-close {
    color: #ffffff;
    font-family: Arial,Baskerville,monospace;
    font-size: 28px;
    font-style: normal;
    height: 24px;
    line-height: 24px;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 24px;
}
.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
}
.mfp-close:active {
    top: 1px;
}
.mfp-close-btn-in .mfp-close {
    color: #333333;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #ffffff;
    padding-right: 6px;
    right: -6px;
    text-align: right;
    width: 100%;
}
.mfp-counter {
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
}
.mfp-arrow {
    height: 110px;
    margin: -55px 0 0;
    opacity: 0.65;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 90px;
}
.mfp-arrow:active {
    margin-top: -54px;
}
.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
}
.mfp-arrow::before, .mfp-arrow::after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    border: medium inset rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 0;
    left: 0;
    margin-left: 35px;
    margin-top: 35px;
    position: absolute;
    top: 0;
    width: 0;
}
.mfp-arrow::after, .mfp-arrow .mfp-a {
    border-bottom-width: 13px;
    border-top-width: 13px;
    top: 8px;
}
.mfp-arrow::before, .mfp-arrow .mfp-b {
    border-bottom-width: 21px;
    border-top-width: 21px;
    opacity: 0.7;
}
.mfp-arrow-left {
    left: 0;
}
.mfp-arrow-left::after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #ffffff;
    margin-left: 31px;
}
.mfp-arrow-left::before, .mfp-arrow-left .mfp-b {
    border-right: 27px solid #3f3f3f;
    margin-left: 25px;
}
.mfp-arrow-right {
    right: 0;
}
.mfp-arrow-right::after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #ffffff;
    margin-left: 39px;
}
.mfp-arrow-right::before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}
.mfp-iframe-holder {
    padding-bottom: 40px;
    padding-top: 40px;
}
.mfp-iframe-holder .mfp-content {
    line-height: 0;
    max-width: 900px;
    width: 100%;
}
.mfp-iframe-holder .mfp-close {
    top: -40px;
}
.mfp-iframe-scaler {
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
}
.mfp-iframe-scaler iframe {
    background: #000000 none repeat scroll 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
img.mfp-img {
    box-sizing: border-box;
    display: block;
    height: auto;
    line-height: 0;
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0;
    width: auto;
}
.mfp-figure {
    line-height: 0;
}
.mfp-figure::after {
    background: #444444 none repeat scroll 0 0;
    bottom: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    content: "";
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
    width: auto;
    z-index: -1;
}
.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}
.mfp-figure figure {
    margin: 0;
}
.mfp-bottom-bar {
    cursor: auto;
    left: 0;
    margin-top: -36px;
    position: absolute;
    top: 100%;
    width: 100%;
}
.mfp-title {
    color: #f3f3f3;
    line-height: 18px;
    padding-right: 36px;
    text-align: left;
    word-wrap: break-word;
}
.mfp-image-holder .mfp-content {
    max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
.mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
}
.mfp-img-mobile img.mfp-img {
    padding: 0;
}
.mfp-img-mobile .mfp-figure::after {
    bottom: 0;
    top: 0;
}
.mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
}
.mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 3px 5px;
    position: fixed;
    top: auto;
}
.mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
}
.mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
}
.mfp-img-mobile .mfp-close {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 35px;
    line-height: 35px;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 35px;
}
}
@media all and (max-width: 900px) {
.mfp-arrow {
    transform: scale(0.75);
}
.mfp-arrow-left {
    transform-origin: 0 50% 0;
}
.mfp-arrow-right {
    transform-origin: 100% 50% 0;
}
.mfp-container {
    padding-left: 6px;
    padding-right: 6px;
}
}
.mfp-ie7 .mfp-img {
    padding: 0;
}
.mfp-ie7 .mfp-bottom-bar {
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 600px;
}
.mfp-ie7 .mfp-container {
    padding: 0;
}
.mfp-ie7 .mfp-content {
    padding-top: 44px;
}
.mfp-ie7 .mfp-close {
    padding-top: 0;
    right: 0;
    top: 0;
}
.mfp-title {
    padding-top: 10px;
    position: absolute;
    text-transform: capitalize;
}
.small-dialog, .dialog-box {
    background: #ffffff none repeat scroll 0 0;
    margin: 40px auto;
    max-width: 1000px;
    padding: 20px 30px;
    position: relative;
    text-align: left;
}
.small-dialog h3 {
    border-bottom: 2px solid #97398f;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out 0s;
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out 0s;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
    transition: all 0.2s ease-out 0s;
}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: translateY(0px) perspective(600px) rotateX(0deg);
}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out 0s;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}
#small-dialog, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5, #small-dialog6, #small-dialog7, #small-dialog8, #small-dialog9, #small-dialog10, #small-dialog11, #small-dialog12 {
	background: #59CED8;
	text-align: left;
	margin:50px auto 0;
	max-width: 800px;
	padding:0px 4px 4px;
	position: relative;
}
#small-dialog > h4 , #small-dialog2 h4, #small-dialog3 h4, #small-dialog4 h4, #small-dialog5 h4, #small-dialog6 h4, #small-dialog7 h4, #small-dialog8 h4, #small-dialog9 h4, #small-dialog10 h4, #small-dialog11 h4, #small-dialog12 h4 {
    color: #ffffff;
    float: left;
    font-weight: 500;
	font-size:20px;
    padding: 20px 0 20px 10px;
    text-transform: uppercase;
}
#small-dialog > a, #small-dialog2 > a, #small-dialog3 > a, #small-dialog4 > a, #small-dialog5 > a, #small-dialog6 > a, #small-dialog7 > a, #small-dialog8 > a, #small-dialog9 > a, #small-dialog10 > a, #small-dialog11 > a, #small-dialog12 > a {
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    display: block;
    float: right;
    margin-right: 50px;
    margin-top: 12px;
    outline: medium none;
    padding: 8px 6px;
}
.popupContent > h3 {
    padding:10px 0 10px 10px;
	background-color:#f5f5f5;
	margin-bottom:5px;
	line-height:18px;
	font-size:18px;
}
.popupContent > p {
    background:url("../images/arrows-right.png") no-repeat left top 6px;
    margin-left: 10px;
    padding-left: 20px;
	padding-bottom:10px;
}
.popupContent h2 {
	padding:10px;
	line-height:16px;
	text-decoration:underline;
	font-size:16px;
}
#small-dialog > a i, #small-dialog2  a i, #small-dialog3  a i, #small-dialog4  a i, #small-dialog5  a i, #small-dialog6  a i, #small-dialog7  a i, #small-dialog8  a i, #small-dialog9  a i, #small-dialog10  a i, #small-dialog11  a i, #small-dialog12  a i {
	color:#fff;
	padding-left:8px;
}
.popupContent {
    background-color: #ffffff;
    padding: 20px;
}
.popupBold {
	text-decoration:underline;
	
}
.popupContent > h5 {
	padding:15px 10px;
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
